
<% @tvshows.shows.each do |show| %>
<% if show['show']["image"].present? %>
<% if show['show']["genres"].any? %>
<div class="card-upcomings">
  <%= image_tag(show['show']['image']['medium']) %>
  <div class="btn-group dropleft" >
    <i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu">
      <h5>Air time h <%= show['airtime'] %></h5>
      <% if show['show']['network'].nil? %>
      <h5>on <%= show['show']['webChannel']['name'] %> Web Channel</h5>
      <%end%>
      <% if !show['show']['network'].nil? %>
      <h5>on <%= show['show']['network']['name'] %> network</h5>
      <%end %>
      <% if show['summary'].nil? %>
      <h5>Storyline not available</h5>
      <% end %>
      <% if !show['summary'].nil? %>
      <h5><%= show['summary'].gsub(%r{</?[^>]+?>}, '') %></h5>
      <%end %>
      <%= link_to "Tvshow details",tvshow_path(show['show']['id']) %>
    </div>
  </div>
  <div class="card-upcomings-info">
    <%= show['show']['name'] %>
    <i class="far fa-calendar-alt"></i>
    <%= show['airdate'] %>
    <%= show['season'] %>
    <%= show['number'] %>
    <%= show['show']['genres'][0] %>
    <%= show['show']['genres'][1] %>
    <%= show['show']['genres'][2] %>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>





