<h1>TVSHOWS#INDEX</h1>

<div class="btn btn-warning"><%= link_to "Action", genre_path(genre: "Action") %></div>
<div><%= link_to "Anime", genre_path(genre: "Anime")%></div>
<div><%= link_to "Adventure", genre_path(genre: "Adventure")%></div>
<div><%= link_to "Children", genre_path(genre: "Children")%></div>
<div><%= link_to "Comedy", genre_path(genre: "Comedy")%></div>
<div><%= link_to "Crime", genre_path(genre: "Crime")%></div>
<div><%= link_to "Drama", genre_path(genre: "Drama")%></div>
<div><%= link_to "Espionage", genre_path(genre: "Espionage")%></div>
<div><%= link_to "Family", genre_path(genre: "Family")%></div>
<div><%= link_to "Fantasy", genre_path(genre: "Fantasy")%></div>
<div><%= link_to "Food", genre_path(genre: "Food")%></div>
<div><%= link_to "History", genre_path(genre: "History")%></div>
<div><%= link_to "Horror", genre_path(genre: "Horror")%></div>
<div><%= link_to "Legal", genre_path(genre: "Legal")%></div>
<div><%= link_to "Medical", genre_path(genre: "Medical")%></div>
<div><%= link_to "Music", genre_path(genre: "Music")%></div>
<div><%= link_to "Mystery", genre_path(genre: "Mystery")%></div>
<div><%= link_to "Nature", genre_path(genre: "Nature")%></div>
<div><%= link_to "Romance", genre_path(genre: "Romance")%></div>
<div><%= link_to "Science-Fiction", genre_path(genre: "Science-Fiction")%></div>
<div><%= link_to "Sports", genre_path(genre: "Sports")%></div>
<div><%= link_to "Supernatural", genre_path(genre: "Supernatural")%></div>
<div><%= link_to "Thriller", genre_path(genre: "Thriller")%></div>
<div><%= link_to "Travel", genre_path(genre: "Travel")%></div>
<div><%= link_to "War", genre_path(genre: "War")%></div>
<div><%= link_to "Western", genre_path(genre: "Western")%></div>

<div class="header_page">
  <h3><%= @tvshows.show_description %></h3>
</div>

  <% if params[:search] %>
    <%= render 'search_params' %>
  <% else %>
    <%= render 'upcomings' %>
  <%end %>
