<div class="sidebar-container">
  <div class="sidebar">
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Action", genre_path(genre: "Action") %>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Anime", genre_path(genre: "Anime")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Adventure", genre_path(genre: "Adventure")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Children", genre_path(genre: "Children")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Comedy", genre_path(genre: "Comedy")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Crime", genre_path(genre: "Crime")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Drama", genre_path(genre: "Drama")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Espionage", genre_path(genre: "Espionage")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Family", genre_path(genre: "Family")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Fantasy", genre_path(genre: "Fantasy")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Food", genre_path(genre: "Food")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "History", genre_path(genre: "History")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Horror", genre_path(genre: "Horror")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Legal", genre_path(genre: "Legal")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Medical", genre_path(genre: "Medical")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Music", genre_path(genre: "Music")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Mystery", genre_path(genre: "Mystery")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Nature", genre_path(genre: "Nature")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Romance", genre_path(genre: "Romance")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Science-Fiction", genre_path(genre: "Science-Fiction")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Sports", genre_path(genre: "Sports")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Supernatural", genre_path(genre: "Supernatural")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Thriller", genre_path(genre: "Thriller")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Travel", genre_path(genre: "Travel")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "War", genre_path(genre: "War")%>
      </h4>
    </div>
    <div class="sidebar-row">
      <h4 class="sidebar-text"><%= link_to "Western", genre_path(genre: "Western")%>
      </h4>
    </div>
  </div>
</div>
