<div class="sidebar">
  <div class="sidebar-scroll">

    <%= link_to genre_path(genre: "Action"), :class =>"sidebar-row " do %>
    <h3>Action</h3>
    <% end %>

    <%= link_to genre_path(genre: "Anime"), :class =>"sidebar-row " do %>
    <h3>Anime</h3>
    <% end %>

    <%= link_to genre_path(genre: "Adventure"), :class =>"sidebar-row" do %>
    <h3>Adventure</h3>
    <% end %>

    <%= link_to genre_path(genre: "Children"), :class =>"sidebar-row" do %>
    <h3>Children</h3>
    <% end %>

    <%= link_to genre_path(genre: "Comedy"), :class =>"sidebar-row" do %>
    <h3>Comedy</h3>
    <% end %>

    <%= link_to genre_path(genre: "Crime"), :class =>"sidebar-row" do %>
    <h3>Crime</h3>
    <% end %>

    <%= link_to genre_path(genre: "Drama"), :class =>"sidebar-row" do %>
    <h3>Drama</h3>
    <% end %>

    <%= link_to genre_path(genre: "Espionage"), :class =>"sidebar-row" do %>
    <h3>Espionage</h3>
    <% end %>

    <%= link_to genre_path(genre: "Family"), :class =>"sidebar-row" do %>
    <h3>Family</h3>
    <% end %>

    <%= link_to genre_path(genre: "Fantasy"), :class =>"sidebar-row" do %>
    <h3>Fantasy</h3>
    <% end %>

    <%= link_to genre_path(genre: "Food"), :class =>"sidebar-row" do %>
    <h3>Food</h3>
    <% end %>

    <%= link_to genre_path(genre: "History"), :class =>"sidebar-row" do %>
    <h3>History</h3>
    <% end %>

    <%= link_to genre_path(genre: "Horror"), :class =>"sidebar-row" do %>
    <h3>Horror</h3>
    <% end %>

    <%= link_to genre_path(genre: "Legal"), :class =>"sidebar-row" do %>
    <h3>Legal</h3>
    <% end %>

    <%= link_to genre_path(genre: "Medical"), :class =>"sidebar-row" do %>
    <h3>Medical</h3>
    <% end %>

    <%= link_to genre_path(genre: "Music"), :class =>"sidebar-row" do %>
    <h3>Music</h3>
    <% end %>

    <%= link_to genre_path(genre: "Mystery"), :class =>"sidebar-row" do %>
    <h3>Mystery</h3>
    <% end %>

    <%= link_to genre_path(genre: "Nature"), :class =>"sidebar-row" do %>
    <h3>Nature</h3>
    <% end %>

    <%= link_to genre_path(genre: "Romance"), :class =>"sidebar-row" do %>
    <h3>Romance</h3>
    <% end %>

    <%= link_to genre_path(genre: "Science-Fiction"), :class =>"sidebar-row" do %>
    <h3>Sci-Fi</h3>
    <% end %>

    <%= link_to genre_path(genre: "Sports"), :class =>"sidebar-row" do %>
    <h3>Sports</h3>
    <% end %>

    <%= link_to genre_path(genre: "Supernatural"), :class =>"sidebar-row" do %>
    <h3>Supernatural</h3>
    <% end %>

    <%= link_to genre_path(genre: "Thriller"), :class =>"sidebar-row" do %>
    <h3>Thriller</h3>
    <% end %>

    <%= link_to genre_path(genre: "Travel"), :class =>"sidebar-row" do %>
    <h3>Travel</h3>
    <% end %>

    <%= link_to genre_path(genre: "War"), :class =>"sidebar-row" do %>
    <h3>War</h3>
    <% end %>

    <%= link_to genre_path(genre: "Western"), :class =>"sidebar-row" do %>
    <h3>Western</h3>
    <% end %>

  </div>
</div>
